node_modules
dist/bundle.js
dist/module.optimized.wasm
dist/module.optimized.wasm.map
dist/module.untouched.wasm
dist/module.untouched.wasm.map
dist/unit.untouched.wasm
dist/unit.untouched.wasm.map
yarn-error.log
